.tikets td {
    line-height: 12px;
}

.btn-box-tool {
    padding: 0px;
}

.fa-times {
    color: #9b9b9b;
}

.btn-box-tool:focus {
    box-shadow: none;
}

.btn-box-tool .fa-times:hover {
    font-weight: 900;
    color: #000;
}

.form-control:focus {
    box-shadow: none;
    border-color: rgb(56, 193, 114);
    /* border: none; */
}

button {
    border: none!important;
}

.table th,
.table td {
    vertical-align: inherit;
}

.icon-action-tiket .far.fa-trash-alt {
    color: red;
}

.icon-action-tiket .fas.fa-save {
    color: #38c172;
}